.section {
    padding-bottom: 0 !important;
  }
  
  .mb-5 {
    border-left: 2px solid blue;
    padding: 10px;
  }
  
  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 575px;
  
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 1s ease, transform 0.8s ease;
      z-index: 0;
  
      &.active {
        opacity: 1;
        z-index: 1;
  
        .slide-content {
          animation: slideIn 0.8s ease forwards;
          z-index: 99;
        }
      }
  
  
      /* Overlay effect */
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* Adjust opacity and color here */
        z-index: 1;
      }
  
  
      .slide-content {
        position: absolute;
        bottom: 0;
        // left: 20px;
        color: #fff;
        text-align: left;
        opacity: 0;
        /* Initial opacity for smooth fade-in */
        transform: translateX(-50px);
        /* Initial position off the screen */
        min-width: 50%;
        max-width: 50%;
        // border: 1px solid #999;
        background: rgba(0, 0, 0, 0.3);
        padding: 40px 50px;
  
        h2 {
          font-size: 2.5rem;
          margin-bottom: 0.5rem;
          color: #c0c0c0;
        }
  
        p {
          font-size: 1.2rem;
        }
      }
    }
  
    .slider-controls {
      position: absolute;
      bottom: 44px;
      right: 12px;
      z-index: 2;
      display: flex;
      gap: 10px;
  
      button {
        background: rgba(0, 0, 0, 0.5);
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
        width: 30px;
        transition: background 0.3s ease;
  
        &:hover {
          background: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
  
  /* Keyframe animation for sliding in content from the left */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
      /* Start off the screen */
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
      /* Slide into place */
    }
  }
  
  
  .currency-price {
    z-index: 99;
  }
  
  
  
  //scroll
  //scroll animation
  .scroll-animation {
    opacity: 0;
    // transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  
  }
  
  .scroll-animation.show {
    opacity: 1;
    // transform: translateY(0);
  }
  
  .currency-price {
    bottom: 30px;
  }
  
  
  @media (max-width: 768px) {
    .slider-container .slide .slide-content {
      min-width: 100%;
      max-width: 100%;
    }
  }
  
  
  
  
  
  
  //challenge rule
  
  .image-overlay-container {
    position: relative;
    width: 100%;
    /* Adjust width as needed */
    max-width: 100%;
  }
  
  .image-overlay-container img {
    width: 100%;
    // height: auto;
    max-height: 660px;
    display: block;
    border-radius: 0px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    /* Semi-transparent black overlay */
  
    transition: opacity 0.5s ease;
    border-radius: 8px;
  }
  
  .image-overlay-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay-content {
    position: absolute;
    top: 50px;
    left: 0px;
    // transform: translate(-50%, -50%);
    text-align: center;
  
  }
  
  .overlay-content h2 {
    font-size: 2rem;
    margin: 0 0 10px;
  }
  
  .overlay-content p {
    // font-size: 1.2rem;
    margin: 0;
    text-align: left;
  }
  
  .card-header {
    text-align: left;
  }
  