<section class="slider">
    <div class="slider-container">
        <div class="slide" *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlideIndex"
            [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }">

            <!-- Overlay -->
            <div class="overlay"></div>
            <div class="slide-content">
                <h2 class="fw-semibold mb-3 hero-title">{{ slide.title }}</h2>
                <!-- <p>{{ slide.description }}</p> -->

                <p class="font-size-14" style="color:#c0c0c0">
                    {{ slide.description }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section" id="our-story">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <div class="small-title">Cancellation and Refund Policy</div>
                    <h4 class="viewAllHallOfFame">Ipower Cancellation and Refund Policy</h4>
                </div>
            </div>

        </div>
        <!-- end row -->
        <div class="col-lg-12 story-desc">
            <h5>Virtual Challenges</h5>


            <div>
                <h5>Tickets for Virtual Challenges are non-refundable and non-transferable.</h5>
                <h5>Cycling Trips</h5>

                <p>
                    <b>1. Cancellation 30 days or more before the trip start date:</b><br>
                    Receive a refund minus a 10% cancellation fee.
                </p>

                <p>
                    <b>2. Cancellation between 29 and 21 days before the trip start date:</b><br>
                    Receive a refund minus a 50% cancellation fee.      
                </p>

                <p>
                    <b>3. Cancellation within 20 days of the trip start date or no-show:</b><br>
                    Unfortunately, no refund or voucher is available.
                </p>

                <h5>Trip Cancellation by Ipower</h5>
                <p>
                    In the rare event that Ipower cancels a trip due to force majeure, natural 
                    calamities (such as continuous rain, snowstorms, floods, landslides, 
                    earthquakes), political unrest, curfews, pandemics, government orders, 
                    or any other issues impacting group safety, a full trip fee voucher will 
                    be issued. This voucher can be redeemed for any Ipower trip within one year 
                    from the original trip date.
                </p>
                <h5>Rescheduling Your Trip</h5>
                <p>
                    <b>1. Reschedule 30 days or more before the trip start date:</b><br>
                    Transfer to a future date at no extra charge.
                </p>

                <p>
                    <b>2. Reschedule between 29 days and 1 day before the trip start date:</b><br>
                    A 20% transfer fee applies, requiring an additional 20% of the trip fee to shift your registration to a future date.
                </p>

                <p>
                    <b>Note: </b>Each registration can be transferred only once.
                </p>

                <p>
                    For further inquiries or assistance, please contact us at Ipower&#64;gmail.com.
                </p>

                <p>
                    <b>Address:</b><br>
                    M3M International Financial Centre, Golf Course Ext Rd, Badshahpur, Sector 
                    66, Gurugram, Haryana 122002
                </p>
                
            </div>

            

        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>