

///....................team................../////

.gallery-container {
    position: relative;
  }
  
  .gallery-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 100px 20px;
    margin: 20px 0;
    .gallery-tile {
      // cursor: pointer;
      img {
        width: 100%;
        height: 240px;
        -o-object-fit: cover;
        object-fit: cover;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.05);
        }
      }
      div{
        padding: 20px 10px;
        border: 1px solid #dedede;
        //min-height: 55%;
        // text-align: justify;
      }     
    }
  }
  
  
  .fade-in {
    animation: fadeIn 0.5s ease-in both;
  }
  
  // @keyframes fadeIn {
  //   0% {
  //     opacity: 0;
  //     transform: translateX(-10px); /* Adjust this for a slight slide effect */
  //   }
  //   100% {
  //     opacity: 1;
  //     transform: translateX(0);
  //   }
  // }
  

 .challenge-desc{
  position: relative;
 }

  
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .lightbox-content {
    max-width: 80%;
    max-height: 80%;
    text-align: center;
    position: relative;
    animation: backInLeft 0.8s ease both;
  }
  
  .lightbox-content img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 5px;
  }
  
  .caption {
    margin-top: 25px;
    color: #fff;
    font-size: 1.2rem;
  }
  
  .prev-btn,
  .next-btn,
  .close-btn {
    position: fixed;
    top: 97%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 20px;
    z-index: 1001; /* Ensure the buttons stay above the lightbox content */
    transition: background 0.3s ease;
  }
  
  .prev-btn {
    right: 60px;
  }
  
  .next-btn {
    right: 0px;
  }
  
  .close-btn {
    top: 20px;
    right: 0;
    font-size: 3rem;
    padding: 18px 10px;
  }
  
  .prev-btn:hover,
  .next-btn:hover,
  .close-btn:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .lightbox-content-container {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    text-align: center;
    animation: backInLeft 0.8s ease both;
    z-index: 9999;
  }
  
  .lightbox-content-container img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 5px;
  }
  
  
  
  @media (min-width: 768px) {
    .gallery-tiles {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
  }



  div.gallery-tiles > div > img {
    border-radius: 5px 5px 0 0;
  }
  
  div.gallery-tiles > div > p {
    border-radius: 0 0 5px 5px;
  }
  

